html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}



.container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; /* Disable vertical scrolling */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    position: relative;
}


.container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.page {
    flex: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#page1 {
    background: linear-gradient(to right, #5e3747  0%, #3e051f 100%);
    font-family: "Major Mono Display", sans-serif;
}

#page2, #page4, #page6 {
    background: linear-gradient(to right, #3e051f 0%, #5e3747 100%);
}

#page3, #page5, #page7 {
    background: linear-gradient(to right, #5e3747  0%, #3e051f 100%);
}

.text, .animated-text {
    font-size: 1.4em;
    margin: 20px;
    line-height: 1.8;
    padding: 0 80px; /* Add padding to the left and right */
    color: #f1e1d1; /* Light cream color */
    font-weight: bold;
    text-indent: 0; /* Ensure no text indentation */
    font-family: "Major Mono Display", sans-serif;
}

.static-text {
    text-align: center;
    width: 80%; /* control width of text box */
    border-radius: 10px;
    font-family: "Major Mono Display", sans-serif;
}

.hidden {
    display: inline-block;
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}



.background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 100%;
    opacity: 0.04;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotated-svg {
    transform: rotate(90deg);
    transform-origin: center;
    width: 70%;
    height: auto;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}


@keyframes swipe-animation {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); /* Arrow moves right */
    }
}

.flourish-embed {
    width: 1000px;
    height: 200px;
    z-index: 100;
    margin-bottom: 400px;
    overflow: visible;
    clip-path: inset(0px 0px -450px 0px); /* Trim 20px from the bottom */
}


.bubble-plot iframe {
    width: 1500px; /* 100% of the .page width */
    height: 800px; /* 100% of the .page height */
    border: none; /* Removes the border around the iframe */
    position: relative;
    z-index: 2; /* Ensure iframe is below text */
    pointer-events: auto; /* Ensure iframe is interactive */
    overflow: hidden;
}


.text-plots iframe {
    width: 160vh; /* 100% of the .page width */
    height: 80vh; /* 100% of the .page height */
    border: none; /* Removes the border around the iframe */
    position: relative;
    z-index: 2; /* Ensure iframe is below text */
    pointer-events: auto; /* Ensure iframe is interactive */
}


#page7 {
    position: relative; /* Ensure this container maintains relative positioning */
    width: 100%;
    height: 100%;
    display: flex; /* Maintains the flex layout for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px; /* Adds padding inside #page7, effectively creating a margin around the iframe */
    box-sizing: border-box; /* Includes padding in the width and height calculations */
}

.map iframe {
    width: 1350px; /* Takes full width of the container minus padding */
    height: 700px; /* Takes full height of the container minus padding */
    border: none; /* Removes border */
    
}
